@keyframes scaleDownThenUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1.5);
    }
}

@keyframes rainbow {
    0% {
        background-color: red;
    }

    25% {
        background-color: orange;
    }

    50% {
        background-color: yellow;
    }

    75% {
        background-color: green;
    }

    100% {
        background-color: blue;
    }
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: grid;
    min-height: 100vh;
    width: 100%;

    grid-template-rows: auto 1fr auto;
}

img {
    width: 100%;
}

#page_header {
    padding: 10px 0px;
    margin-bottom: 10px;
    display: grid;
    row-gap: 10px;
    place-items: center;
    animation: rainbow 0.3s ease-in-out infinite alternate;
}

#page_header>img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    animation: scaleDownThenUp 2s ease-in-out infinite alternate;
    animation-play-state: paused;
}

#page_header>img:hover {
    animation-play-state: running;
}

#page_content {
    display: grid;
    place-items: center;
    text-align: center;
    row-gap: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

#mobile_content_container>img {
    width: 50%;
    filter: blur(3px);
    background-color: orange;
    transition: all 1s ease-in-out;
}

#mobile_content_container>img:hover {
    width: 75%;
    filter: blur(0px);
    padding: 20px;
    background-color: pink;
}

#page_footer {
    display: grid;
    place-items: center;
    text-align: center;
    margin: 15px;
    row-gap: 10px;
}

#footer_legal {
    display: grid;
    place-items: center;
    row-gap: 10px;
}

#tablet_content_container {
    display: none;
}

.to_animate {
    width: 50%;
    background-color: blue;
    transition: all 1s ease-in-out;
}

.to_animate:hover {
    width: 100%;
    background-color: orange;
}

@media only screen and (min-width: 650px) {
    #footer_legal {
        grid-auto-flow: column;
        column-gap: 30px;
    }

    #tablet_content_container {
        display: grid;
    }

    #tablet_content_container>div {
        display: grid;
        grid-auto-flow: column;
        place-items: center;
    }

    #mobile_content_container {
        display: none;
    }
}